.popup {  
    position: fixed;
    display: flex;  
    width: 50%;  
    height: 50%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: white;
    border: 2px solid black;

  }  

.form {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.close-me {
    height: 20px;
}
 